/* styles.css */

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

img {
    height: auto;
    width: 500px;
}

h1 {
    color:red;
}

.intro-box {
    background-color:aqua;
    max-width: 500px;
}

.ingredients-list {
    font-size: 30px;
}

.recipe-box {
    display:inline-block;
    block-size: 350px;
}

.recipe-box > span img {
    height:300px;
}

.box1, .box2, .box3 {
    display:inline-block;
    margin: auto;
    border:solid;
    border-color: black;
    background-color: lightcoral;
}

.recipe-title {
    display: block;
    text-align: center;
    font-size: 30px;
}